@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color0: #000082;
    --color1: #008282;
    --color2: #C3C3C3;
    --color3: #FFFFC7;
    
    --color4: #F2F2F2;
    --color5: #0D0D0D;
    --color6: #D9D9D9;

    font-size: 17px;
}

    
    * { padding: 0; box-sizing: border-box; font-family: 'Press Start 2P', sans-serif; }

body {
    background-color: var(--color1);
    font-family: 'Press Start 2P', sans-serif;
}

header { 
    padding: 10px;
}

[data-js="options"] {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


[data-js="pokemons"] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

[data-js="pokemon-wrapper"] {
    width: 100%;
    max-width: 300px;
    height: 450px;
    background-color: var(--color2);
    box-shadow: 4px 3px var(--color5), -1px -1px var(--color6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    position: relative;
}

[data-js="pokemon-content"] {
    width: 97%;
    background-color: var(--color0);
    padding: 10px;
    margin-top: 5px;
}

[data-js="title"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-js="title"] i {
    color: var(--color5);
    background-color: var(--color4);
    padding: 2px;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 2px var(--color5), -1px -1px var(--color6);

}

[data-js="title"] i:active {
    transform: scale(.95);
}

[data-js="pokemon-content"] span {
    color: var(--color4);
    width: 100%;
}

[data-js="pokemon-image-wrapper"] {
    position: relative;
}

[data-js="pokemon-image-wrapper"] img {
    position: absolute;
    transform: translate(-50%, 6%);
    width: 250px;
    height: 200px;
}

[data-js="pokemon-image-wrapper"] span {
    position: absolute;
    width: 288px;
    height: 195px;
    background-color: var(--color3);
    transform: translate(-50%, 6%);
}


[data-js="buttons-container"] input {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    letter-spacing: -1px;
    box-shadow: 1px 4px var(--color5);
    cursor: pointer;
}

[data-js="buttons-container"] input:active {
    transform: scale(.95);
}

[data-js="pokemon-bottom"] {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    padding: 10px;
}

[data-js="pokemon-bottom"] span {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 10px;
    background-color: var(--color2);
    box-shadow: 3px 3px 0 1px var(--color5), -2px -2px var(--color3);
    cursor: pointer;
    user-select: none;
    font-size: .7rem;
}

[data-js="pokemon-bottom"] span:active {
    transform: scale(.95);
}

@media screen and (max-width: 450px) {
    body {
        font-size: .6rem;
    }

    [data-js="title"] {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    [data-js="title"] span {
        margin: 10px;
    }

    [data-js="pokemon-image-wrapper"] img {
        width: 128px;
        height: 128px;
    }

    [data-js="pokemon-image-wrapper"] span {
        width: 104px;
        height: 141px;
    }
}